
<div class="jumbotron">
  <h1>Local Med Advisor</h1>
  <!-- <p>Enter you zip code:</p> -->
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Enter your Zip Code">
	
  </div>

  <a href="<%= providers_path %>" class="btn btn-primary btn-lg" role="button">Doctors</a>
  <a href="<%= facilities_path %>"class="btn btn-primary btn-lg" role="button">Hospitals</a>
  <a href="<%= procedures_path %>"class="btn btn-primary btn-lg" role="button">Procedures</a>
</div>