<h1>MSearch#index</h1>

<%= render 'layouts/msearchinnernav'%>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#home" data-toggle="tab">All</a></li>
  <li><a href="#profile" data-toggle="tab">Providers</a></li>
  <li><a href="#messages" data-toggle="tab">Facilities</a></li>
  <li><a href="#settings" data-toggle="tab">Procedures</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">UI continutity ???</div>
  <div class="tab-pane" id="profile">
	  All the Providers
  </div>
  <div class="tab-pane" id="messages">All the Facilities</div>
  <div class="tab-pane" id="settings">All the Procedures</div>
</div>


<p>Find me in app/views/m_search/index.html.erb</p>
